.wrapper {
  display: block;
  justify-content: center;
  text-align: center;
  border: solid;
  margin-top: 1%;
  background-color: #A3C6EE;
  border-radius: 10px;
}

.halfcolor {
  background: linear-gradient(
    to bottom,
    rgba(21, 131, 179),
    rgba(255, 0, 0, 0)
  );
}
