.wrapper {
  display: block;
  justify-content: center;
  text-align: center;
  border: solid;
}

.halfcolor {
  background: linear-gradient(
    to bottom,
    rgba(21, 131, 179),
    rgba(255, 0, 0, 0)
  );
}
