.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    /* height: 100vh; */
}

.subdiv{
    border: solid 2px silver;
    border-radius: 10px;
    height: fit-content;
    width: 90%;
    background-color: #f5f5f5;
    margin: 10px;
    padding: 10px;
}