.wrapper{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    height: 100vh;
}

.subdiv{
    border: solid 2px silver;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 60%;
    height: fit-content;
}

.sidediv{
    display: block;
    justify-items: center;
    border: solid 2px slategrey;
    border-radius: 10px;
    margin: 10px;
    padding: 40px;
    width: 30%;
    height: fit-content;
}