.wrapper {
    background-color: aliceblue;
    padding: 10px;
  }
  
  .container {
    display: block;
    border: solid silver 2px;
    border-radius: 10px;
    padding: 20px;
    margin-right: 25%;
    margin-left: 5%;
    background-color: #f5f5f5;
  }
  
  .sidebar {
    position: fixed;
    right: 30px;
    border: solid silver 2px;
    border-radius: 10px;
    padding: 20px;
    background-color: #f5f5f5;
    width: fit-content;
  }
  
  /* After this point its all for separate components */
  
  
  
  